.c-gallery {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;  
  &__item {
    &--web {
      cursor: pointer;
        transition: transform 0.5s;
        opacity: 1;
      &:hover {
        transform: scale(0.99);
        opacity: 0.9;
      }
    }
  }
}
