.c-gallery {
  background: #292929;
  border-top: 80px solid #292929;
  box-sizing: border-box;
  padding: 0 20px;  
  &__item {
    &--web {
      cursor: pointer;
        transition: transform 0.5s;
        opacity: 1;
      &:hover {
        transform: scale(0.99);
        opacity: 0.9;
      }
    }
  }
}
