.c-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  height: 100%;
  width: 100%;

  &__item {
    background: map-get($colors, "secondary");
    box-sizing: border-box;
    margin: 5px 0;
    height: 300px;
    width: 410px;
    max-width: 100%;

    @media (min-width: 768px) { 
      margin: 1px;
    }
  }

  &__item__inner {
    padding: 20px;
  }

  iframe {
    height: 100%;
    width: 100%;
    position: relative !important; //style override
  }
}
