@import "./reset.scss";
@import "./grid.scss";
@import "./gallery.component.scss";
@import "./overlay.component.scss";
@import "./ui.scss";

html,
body,
#portfolio-grid {
  background: #292929;
  height: 100%;
  width: 100%;
}

#portfolio-grid {
  height: auto;
}

header {
  background: #66a574;
  border-bottom: 1px solid #fff;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @media (min-width: 768px) {
    border-bottom: 1px solid #fff;
    height: 320px;
    padding: 0 40px;
  }

  h1 {
    font-size: 32px;
    line-height: 32px;
    margin: 0 10px;
    @media (min-width: 768px) {
      font-size: 128px;
      line-height: 128px;
      margin: 0 40px;
    }
  }


  div.image-background {
    width: 128px;
    height: 128px;
    border-radius: 128px;
    border: 2px solid #fff;
    overflow: hidden;
    @media (min-width: 768px) {
      width: 240px;
      height: 240px;
      border-radius: 240px;
    }
  }
}

footer {
  text-align: center;

  p {
    margin: 0 40px;
    padding: 40px 0;
  }
}

.remove-scroll {
  overflow: hidden;
}

body {
  color: #fff;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  height: 100%;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
  }
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin: 5px 0 10px;

  @media (min-width: 768px) {
    margin: 10px 0 20px;
  }
}

p {
  margin: 20px 0;
}

.page-title {
  font-family: "Anton", sans-serif;
  font-size: 28vmin;
  font-weight: bold;
  padding: 80px 40px;
  position: relative;
  max-height: 100%;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
}

.profile {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  position: relative;
  z-index: 0;
}

.profile::before {
  background-image: #292929;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.profile::after {
  background-image: #292929;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.section-block{
  padding: 40px;
  line-height: 32px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.sketchfab-embed-wrapper {
  height: 100%;
  width: 100%;
}

.image-background {
  background-position: center center;
  background-size: cover;
}

.image-background a {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  display: block;
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 0;
}

.no-webp .pila-background {
  background-image: url("../images/pila-background.jpg");
}

.webp .pila-background {
  background-image: url("../images/pila-background.webp");
}

.no-webp .garden-background {
  background-image: url("../images/garden-background.jpg");
  background-position: center top;
}

.webp .garden-background {
  background-image: url("../images/garden-background.webp");
  background-position: center top;
}

.no-webp .pattern-background {
  background-image: url("../images/pattern-background.jpg");
  background-position: center top;
}

.webp .pattern-background {
  background-image: url("../images/pattern-background.webp");
  background-position: center top;
}

.no-webp .unearthed-background {
  background-image: url("../images/unearthed.jpg");
  background-position: center top;
}

.webp .unearthed-background {
  background-image: url("../images/unearthed.webp");
  background-position: center top;
}

.no-webp .funeral-background {
  background-image: url("../images/funeral-mapper.png");
  background-position: center top;
}

.webp .funeral-background {
  background-image: url("../images/funeral-mapper.webp");
  background-position: center top;
}

.no-webp .efl-background {
  background-image: url("../images/efl-match-center.jpg");
  background-position: center top;
}

.webp .efl-background {
  background-image: url("../images/efl-match-center.webp");
  background-position: center top;
}

.no-webp .royal-london-background {
  background-image: url("../images/royal-london.png");
  background-position: center top;
}

.webp .royal-london-background {
  background-image: url("../images/royal-london.webp");
  background-position: center top;
}

.no-webp .syfy-background {
  background-image: url("../images/syfy20.jpg");
  /*source: http://picnicstudio.tv/syfy*/
  background-position: center top;
}

.webp .syfy-background {
  background-image: url("../images/syfy20.webp");
  /*source: http://picnicstudio.tv/syfy*/
  background-position: center top;
}

.no-webp .ghost-background {
  background-image: url("../images/ghost-background.jpg");
  background-position: center top;
}

.webp .ghost-background {
  background-image: url("../images/ghost-background.webp");
  background-position: center top;
}

.no-webp .lexus-background {
  background-image: url("../images/lexus.png");
  background-position: left top;
}

.webp .lexus-background {
  background-image: url("../images/lexus.webp");
  background-position: left top;
}

.no-webp .advent-background {
  background-image: url("../images/advent-calendar.png");
  background-position: center top;
}

.webp .advent-background {
  background-image: url("../images/advent-calendar.webp");
  background-position: center top;
}

.no-webp .profile-background::after {
  background-image: url("../images/profile.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.webp .profile-background::after {
  background-image: url("../images/profile.webp");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.no-webp .pila-game-background {
  background-image: url("../images/pila-game.png");
}

.webp .pila-game-background {
  background-image: url("../images/pila-game.webp");
}

.no-webp .rice-background {
  background-image: url("../images/joe-mcdowall-itadakimasu.jpg");
}

.webp .rice-background {
  background-image: url("../images/joe-mcdowall-itadakimasu.webp");
}

.no-webp .island-background {
  background-image: url("../images/islands.png");
}

.webp .island-background {
  background-image: url("../images/islands.webp");
}

.no-webp .hunt-background {
  background-image: url("../images/hunt.png");
}

.webp .hunt-background {
  background-image: url("../images/hunt.webp");
}

.no-webp .green-city-background {
  background-image: url("../images/green-city.png");
}

.webp .green-city-background {
  background-image: url("../images/green-city.webp");
}

.no-webp .heathrow-background {
  background-image: url("../images/heathrow.png");
  background-position: center top;
}

.webp .heathrow-background {
  background-image: url("../images/heathrow.webp");
  background-position: center top;
}

.no-webp .lions-background {
  background-image: url("../images/lions.png");
  background-position: center top;
}

.webp .lions-background {
  background-image: url("../images/lions.webp");
  background-position: center top;
}

.no-webp .bermuda-splash-background {
  background-image: url("../images/bermuda-splash.png");
}

.webp .bermuda-splash-background {
  background-image: url("../images/bermuda-splash.webp");
}

.no-webp .scottish-widows-background {
  background-image: url("../images/scottish-widows.png");
  background-position: center top;
}

.webp .scottish-widows-background {
  background-image: url("../images/scottish-widows.webp");
  background-position: center top;
}

.no-webp .ssiesta-background {
  background-image: url("../images/ssiesta.png");
  background-position: center top;
}

.webp .ssiesta-background {
  background-image: url("../images/ssiesta.webp");
  background-position: center top;
}

.no-webp .sailgp-background {
  background-image: url("../images/sailgp.png");
  background-position: center top;
}

.webp .sailgp-background {
  background-image: url("../images/sailgp.webp");
  background-position: center top;
}

.no-webp .rl-3d-background {
  background-image: url("../images/rl-3d.png");
}

.webp .rl-3d-background {
  background-image: url("../images/rl-3d.webp");
}

.no-webp .gea-background {
  background-image: url("../images/halifax-gea.png");
  background-position: center top;
}

.webp .gea-background {
  background-image: url("../images/halifax-gea.webp");
  background-position: center top;
}

.webp .image-background,
.no-webp .image-background {
  position: relative;
  background-repeat: no-repeat;
}
