$colors: (
    "primary": #498657,
    "secondary": #292929,
    "tertiary": #fff,
    "black": #000
);

$breakpoints: (
    "small": 768px,
    "medium": 1024px,
    "large": 1920px
);

$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1920px;