
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.cutout-rectangle {
    background: url(../images/pila-background.jpg);
    background-position: -6vw -2vw;
    background-repeat: no-repeat;
    background-size: 120%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.cutout-title {
    background: url(../images/pila-background.jpg);
    background-position: -7vw -14vw;
    background-repeat: no-repeat;
    background-size: 120%;
    height: 40vw;
    font-family: 'Anton', sans-serif;
    position: relative;
    overflow: hidden;
    width: 100%;

    position: absolute;
    bottom: 0;
}

.cutout-title__opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.1;
}

h1 {
    background-color: white;
    box-sizing: border-box;
    color: black;
    font-size: 20vw;
    font-weight: bold;
    margin: 0 auto;
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    height: 100%;
    width: 100%;
}

span {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.grid {
    display:none;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 90%;
    width: 100%;
}

.grid li {
    background: red;
    border: 1px solid #000;
    height: 200px;
    flex: 1;
    position: relative;
}

.grid li h2 {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
    font-size: 5vw;
    font-family: 'Anton', sans-serif;
}

.grid li:last-child {
    background:url(../images/garden-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
